<html>
<head>
	<script>
		$(document).ready(function() {
			$("img").click(function() {
				alert( "Handler for .click() called." );
				imageURL = $("img").attr("src");
				$.ajax({
					type: "POST",
					url: "/searches",
					data: {
						user_id: <%= current_user.id %>,
						image_url: imageURL
					}
				});
			});
		});
	</script>
</head>
	<body>
		<h1>What user do you want to lookup?</h1>

		<%= form_tag mentions_index_path, :method => 'get' do %>
		  <p>
		    <%= text_field_tag :search, params[:search] %>
		    <%= submit_tag "Search", :name => nil %>
		  </p>
		<% end %>

		<% if @search %>
			<% @twitter.search(@search).take(200).collect do |tweet| %>
				<p><%= tweet.user.screen_name %></p>
				<p><%= tweet.text %></p>
				<% if(tweet.media.present?) %>
					<%= link_to image_tag(tweet.media[0]["media_url"], :size => tweet.media[0]["sizes"]["thumb"]), mentions_path( user_id: current_user.id, image_url: tweet.media[0]["media_url"]), :method => :post %>
				<% end %>
			<% end %>
		<% end %>
	</body>
</html>
